.post-container {
  background-color: lightgrey;
  margin: 5px;
  padding: 15px;
  width: 500px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
}

.post-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.post-name{
  font-weight: 800;
}

.post-date{

}

.post-content{
  margin-top: 5px;
  min-height: 50px;
}

.post-footer{
  display: flex;
  flex-direction: row;
  align-items: center;
}